<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
     <settings>
     	<!-- 
     		<setting name="cacheEnabled" value="true" />
     		oracle false 처리
     	-->
		<setting name="cacheEnabled" value="false" />
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="SIMPLE" />
		<setting name="defaultStatementTimeout" value="3000" />
		<setting name="jdbcTypeForNull" value="NULL" />			<!-- oracle null value -->
		<setting name="callSettersOnNulls" value="true"/>		<!-- value null 일 경우 컬럼 누락되는 현상 발생으로 추가 -->
	</settings>

	<typeAliases>
		<typeAlias alias="lowerMap" type="com.cnettech.restapi.dao.LowerKeyMap"/>
		<typeAlias alias="lowerKeyHashMap" type="com.cnettech.restapi.dao.LowerKeyHashMap"/>
	</typeAliases>

</configuration>
